/*.right-nav {*/
/*    float: right;*/
/*}*/

/*.navbar-nav {*/
/*    width: 100%;*/
/*}*/


/*.navbar-nav li{*/
/*    float: none;*/
/*    display: inline-block;*/
/*}*/
.text {
    float: right;
}
.nav {
    background: #0F2438;
}
.location {
    color: white;
}
.width_430 {
    width: 430px;
}
.slide_header {
    border-radius: 45px;
}
.slides_mider {
    width: 500px;
}
